{% extends "base.html" %}

{% block content %}
    <h1>Booking Registrations</h1>
    <table style="width:100%">
        <tr>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Customer Name</th>
          <th>Beauty Carer Name</th>
          <th>Service</th>
          <th>Location</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.appointment_booking.date }}</td>
            <td>{{ row.appointment_booking.start_time }}</td>
            <td>{{ row.appointment_booking.end_time }}</td>
            <td>{{ row.customers.first_name }} {{ row.customers.last_name }}</td>
            <td>{{ row.users.first_name }}  {{ row.users.last_name }}</td>
            <td>{{ row.beauty_care_services.service_name }}</td>
            <td>{{ row.addresses.unit+" / " if row.addresses.unit != None }} {{ row.addresses.building }} {{ row.addresses.street }} {{ row.addresses.city}} {{ row.addresses.state }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
