{% extends "base.html" %}

{% block content %}
    <h1>Book Beauty Care Services</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.bookingName.label }}<br>
            {{ form.bookingName }}
            {% for error in form.bookingName.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.bookingDate.label }}<br>
            {{ form.bookingDate(size=10) }}
            {% for error in form.bookingDate.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}