{% extends "base.html" %}

{% block content %}
    <h1>Home</h1>
    {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
    {% else %}
        Not registered? <a href="/register">register!</a>
        <a href="/login">Login</a>
    {% endif %}

    {% if current_user.is_authenticated %}
    <p> <a href="/profile">Personal Profile</a>  </p>
        {% if current_user.get_privileges() >= 7 %}
            <p><a href="/editservices">Edit Services</a></p>
            <p><a href="/appointments">View All Appointments</a></p>
        {% endif %}
        <p><a href="/book">Book an Appointment</a></p>
        <p><a href="/mybook">My Appointments</a></p>
    {% endif %}

{% endblock %}