{% extends "base.html" %}

{% block content %}
    <h1>Booking Registrations</h1>
    <table style="width:100%">
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>Beauty Carer Name</th>
            <th>Service</th>
            <th>Service Cost</th>
            <th>Location</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row['date'] }}</td>
            <td>{{ row['start_time'] }}</td>
            <td>{{ row['carer_name'] }}</td>
            <td>{{ row['service_name'] }}</td>
            <td>{{ row['service_cost'] }}</td>
            <td>{{ row['location'] }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
